.c-schedule {
    text-align: center;
    font-size: 5rem;
    > li {
        padding-bottom: $half-gap;
    }
    .is-next {
        color: pink;
        background-color: red;
        + li {
            color: red;
        }
    }
}