$gap: 24px;
$gap-sm: $gap/2;
$gap-xs: $gap/4;

:root {
    --gap: 24px;
    --gap-sm: calc(var(--gap) / 2);
    --gap-xs: calc(var(--gap) / 4);
    
    @media (max-width: 350px) {
        --gap: 15px;
    }
}