// Variables
$color-main-500: #2196F3;
$color-main-300: #42A5F5;
$color-grey-200: #eee;
$color-grey-500: #747474;

:root {
    --color-main-100: #f3fbff;
    --color-main-300: #42A5F5;
    --color-main-500: #2196F3;

    --color-grey-200: #eee;
    --color-grey-500: #747474;

    --color-secondary-500: #ff5722;
}