
.c-card {
    --card-padding: var(--gap);
    box-sizing: border-box;
    display: block;
    padding: var(--card-padding);
    margin-bottom: var(--card-padding);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
}
button.c-card {
    width: 100%;
    text-align: inherit;
}

.c-card__section {
    padding: 0 var(--card-padding) var(--card-padding);
    margin-right: calc(var(--card-padding) * -1);
    margin-left: calc(var(--card-padding) * -1);
    margin-bottom: var(--card-padding);
    border-bottom: 1px solid var(--color-grey-300);
}