
.c-card {
    --card-padding: var(--gap);
    box-sizing: border-box;
    display: block;
    padding: var(--card-padding) 0;
    margin-bottom: var(--card-padding);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
}
button.c-card {
    width: 100%;
    text-align: inherit;
}