.c-schedule {
    padding: 0 var(--gap);
    text-align: center;
    font-size: 4rem;
    > li {
        padding: $gap-xs;
    }
    .is-next {
        border: 2px solid var(--color-main-500);
        background-color: var(--color-main-100);
        color: var(--color-main-500);
        /* + li {
            color: red;
        } */
    }
}